<div class="@PositionedElement @DraggedElement" style="@PositionedStyle">
	@if (IsDragging && !IsValid) {
        <div class="invalid-position"></div>
	}
	@ChildContent
</div>
@code
{
	[Parameter, EditorRequired, AllowNull]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public Optional<Position> Position { get; set; } = OptionalExtensions.None<Position>();
	[Parameter]
	public bool IsValid { get; set; } = false;
	[Parameter]
	public bool IsDragging { get; set; } = false;
	private string? DraggedElement => IsDragging ? "dragged-element" : null;
	private string? PositionedElement => Position.Map(_ => "positioned-element").ValueOrDefault();
	private string? PositionedStyle => Position.Map(position => $"--pos-x:{position.X}; --pos-y:{position.Y}").ValueOrDefault();
}